@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
$fontSerif: 'Suranna', serif;
$fontSansSerif: 'Teko', sans-serif;

$white: #ffffff;
$black: #000000;

.App {
  width: 100vw;
  height: 100vh;
}

.soundContainer {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  background-color: rgb(104, 104, 104);
}

.Header {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: $white;
  text-align: center;
  // background-image: url(../../assets/img/headerPhoto.png);
  .soundContainer {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 40px;
    height: 40px;
    background-color: rgb(104, 104, 104);
  }
  .blackLayer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
  }
  .Intro {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    h1 {
      font-family: $fontSerif;
      font-size: 110px;
      text-transform: uppercase;
      font-weight: 400;
    }
    .Subtitle  {
      font-family: $fontSerif;
      padding-top: 2%;
      font-size: 25px;
    }
    .textIntro  {
      font-family: $fontSansSerif;
      padding-top: 1%;
      font-size: 16px;
      max-width: 500px;
      margin: 0 auto;
      font-weight: 300;
      line-height: 22px;
    }
    .loaderContainer {
      $height_loader_div: 30px;
      .loader_div{
        height: $height_loader_div;
        width: $height_loader_div*3.2;
        margin-top: 40px;
        left: 50%;
        //transform: translate(-50%, -50%);
        position: relative;
    
        .loader{
          position: absolute;
          height: $height_loader_div;
          width: $height_loader_div;
        }
        .blue_loader, 
        .black_loader, 
        .red_loader{
          top: 0px;
        }
        .blue_loader{
          left: 0px;
        }
        .black_loader{
          left: 50%;
          transform: translate(-50%, -0%);
        }
        .red_loader{
          right: 0px;
        }
        .yellow_loader, 
        .green_loader{
          top: $height_loader_div*0.6;
        }
        .yellow_loader{
          left: 25%;
          transform: translate(-25%, -0%);
        }
        .green_loader{
          right: 25%;
          transform: translate(+25%, -0%);
        }
      }
      .loaderText{
        font-family: $fontSansSerif;
        text-transform: uppercase;
        font-size: 13px;
        margin: 20px;
      }
      .Next {
        font-family: $fontSansSerif;
        padding-top: 2%;
        text-decoration: underline;
        font-weight: 200;
        opacity: 0.5;
        font-size: 12px;
      }
    }
  }
  .headphoneContainer {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    .headphoneImg {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../../assets/img/headphones.png);
    }
    .headphoneText {
      font-family: $fontSansSerif;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
.nav-link{
  color: white;
  font-family: $fontSerif;
  font-size: 16px;
  text-decoration: underline #ffffff;

}



