$fontSerif: 'Suranna', serif;
$fontSans: 'Teko', sans-serif;
$sports_list_height: 100px;
$sports_list_width: 75%;
$white: #ffffff;
.general{
  background-color: black;
  .sports_list{
    position: absolute;
    top: 30vh;
		left: 50vw;
		transform: translate(-50%, -0%);
		border-bottom: 1px solid $white;
		padding-bottom: 40px;
		padding-left: 50px;
		padding-right: 50px;
		height: $sports_list_height;
		width: $sports_list_width;
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
    .sports_list_li{
			font-family: $fontSans;
			line-height: 29px;
      color: $white;
			width: $sports_list_width/23;
			transform: rotate(-62.74deg) translate(50%, -0%);
			font-size: 20px;
			//border: yellow solid 1px;
			white-space: nowrap;
			margin: 0px;
		}
	}
  .title{
    font-family: $fontSerif;
    color: $white;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
  	bottom: 25vh;
    left: 50%;
    transform: translate(-50%, -0%);
  }
  .test_map_button{
	position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translate(-50%, -0%);
    height: 50px;
    width: 50px;
		border: 1px solid white;
		background: rgba(196, 196, 196, 0.32);
    border-radius: 100%;
  }
  .map_button{
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translate(-50%, -0%);
    height: 50px;
	width: 50px;
	border: none;
	background-color: transparent;
    border-radius: 100%;
	}
	.map_button:hover{
		background: url("../../assets/img/arrow-bottom.png") no-repeat center;
	}
}