$fontSerif: 'Suranna', serif;
$fontSansSerif: 'Teko', sans-serif;
.circle {
  font-family: $fontSansSerif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
