.loader_div{
    height: 150px;
    width: 320px;
    /*background-color: black;*/
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;

}
.loader{
    position: absolute;
    height: 100px;
    width: 100px;
}
.blue_loader, .black_loader, .red_loader{
    top: 0px;
}
.blue_loader{
    left: 0px;
}
.black_loader{
    left: 50%;
    transform: translate(-50%, -0%);
}
.red_loader{
    right: 0px;
}
.yellow_loader, .green_loader{
    top: 50px;
}
.yellow_loader{
    left: 25%;
    transform: translate(-25%, -0%);
}
.green_loader{
    right: 25%;
    transform: translate(+25%, -0%);
}