.Logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../assets/img/OLYLOGO.png);
}

.History {
  width: 100%;
  height: 100%;
  color: $white;
  text-align: center;
}

.blackLayer {
  width: 100%;
  height: 100%;
  background-color: rgba(31, 30, 30, 0.322);
  display: flex;
}